#authorcase{
  background-color: rgb(189, 189, 189);;
  margin-left:200px;
  margin-right:200px;
  border:3px rgb(83, 43, 73)
}
.container{
  background-color: rgb(189, 189, 189);
}
/* #authorcase{
  background-color: azure;
  border:2px bisque; */
