body{
  text-align:center;
  background-color:pink;

}
.container-fluid{
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}
.form-control{
  background-color: rgb(232, 212, 238);
  margin-left:200px;
  margin-right: 200px;
}