<div>
    <div class="row">
            <form (ngSubmit)='submitQuote()'#quoteForm='ngForm'>
            <!-- Author form -->
            <div class="form-group">
                <label for="Author">Author</label>
                <input type="text"  class="form-control" id="Author" [(ngModel)]="newQuote.Author" name="Author" #name="ngModel" required>
                
                
            </div>
            <!-- -Quote input --> 
            <div class="form-group">
                <label for="quote">Quote</label>
                <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.Narration" name="description" #description="ngModel" required></textarea>
                
                
            </div>

            <div class="form-group">
                    <label for="postedby">Posted By:</label>
                    <textarea class="form-control" id="postedby" rows="1" [(ngModel)]="newQuote.Postedby" name="postedby" #description="ngModel" required></textarea>
                   
                </div>
       
            
            <button type="Submit" class="btn btn-success btn-lg">Add Goal</button>
        </form>
    </div>
</div>

